.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
.gitignore
.prettierignore
.prettierrc
**/.vscode-test.*
.yarnrc
**/eslint.config.mjs
**/tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
yarn.lock
**/*.map
**/*.ts
